* {
  margin: 0;
  padding: 0;
  /* font-size: 11pt; */
  /* background-color: #f3f5fc; */
}

header{
  background-color: #00214a;
  padding: 1rem 0;
  color: white;
}

.cabezera {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
}

.cabezera ul{
  display: flex;
  align-items: center;
  list-style: none;

}

ul {
  list-style: none;
}

.cabezera li{
  display: inline;
}

button {
  /* border: none; */
  border-radius: 10px;
  font-weight: 500;

  padding: 10px 50px;
  font-size: 10pt;
  text-align: center;
  cursor: pointer;
}

/* button:hover {
  opacity: 0.75;
} */

main{
  padding: 1em;
}

.general{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.contenido{
  display: flex;
  padding: 2rem 0;
}

.contenedor{
  display: flex;
  margin: 1rem 0 0 5px;
  /* margin-top: 20px; */
  border: 1px solid #e0e1e5;
  border-radius: 5px;
  padding: 10px;
  flex-direction: column;
  /* background-color: #00214a; */
  /* display: inline-block; */
  /* justify-content: end; */
}

/* .contenedor ul{
  display: inline-block;
  align-items: center;
  justify-content: center;
} */

.contenedor li{
  display: flex;
  padding: 5px 0;
  justify-content: center;
}

.historial{
  border: 1px solid #e0e1e5;
  border-radius: 5px;
  margin-left: 50px;
  padding: 2rem;
}

.botonEncriptar{
  background-color: #3d58a4;
  color: white;
  border-color: #3d58a4;
}

button:hover{
  background-color: #3358ff;
  border-color: #3358ff;
  box-shadow: 0 10px 30px rgba(51,88,255,.3);
}

.botonDesencriptar:hover{
  color: white;
}

.botonDesencriptar{
  background-color: white;
  color: #3d58a4;
  border-color: #3d58a4;
}

/* .encriptar{
  background-color: #0A3871;
  color: white;
} */

/* .desencriptar{ */
/* background-color: #D8DFE8; */
/* color: darkblue 300; */
/* color: #0A3871; */
/* } */
